.hogarBtn{
    border-radius: 3px;
    width: 100%;
    margin: 4px; 
    padding: 5px; 
    border:none;
}
.hogarBtn_Orange{
    background-color: #ff9000
}
.hogarBtn_Grey{
    background-color: grey
}
.hogarBtn_Red{
    background-color: #e84e40
}
.icon{
    font-size: 40px;
}

.icon-pre-sel{
    color : grey;
}

.icon-male-sel{
    color : darkblue;
}

.icon-female-sel{
    color : red;
}
