<div flex layout="column">
  <div flex layout="row">
    <md-input-container flex>
      <label>Ingrese una dirección</label>
      <input type="text">
    </md-input-container>
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=620x360&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
&markers=color:red%7Clabel:C%7C40.718217,-73.998284" width="360" height="620"/>
    <md-button class="md-fab md-raised ">
      <i class="material-icons">location_on</i>
    </md-button>
  </div>
    <md-button class="md-primary md-raised" ng-click='newReport()'>Dar aviso</md-button>
</div>